.flex {
  display: flex;
  /* Distributes the elements along the "main axis"
  (for flex-direction:row, that is the horizontal axis) */
  justify-content: center;
  /* Distributes the elements along the "cross axis"
  (for flex-direction:row, that is the vertical axis) */
  align-items: center;
}

.container {
  flex-direction: column;
  align-items: start;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

/* justify-items has no effect on a flex-container,
it’s used to distribute the elements in a grid container
along the main axis within their cells

align-content only applies when a flex-container has multiple rows
(when flex-wrap is set to wrap),
and defines how the rows of elements are distributed along the cross-axis
*/